In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
data1 = pd.read_csv('athletes.csv', parse_dates = ['born_date', 'died_date'])
data2 = pd.read_csv('olympic_games_results.csv')
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [3]:
# Visualizar columnas, tipo de datos y nulls de los datasets
df1.rename(columns={'NOC': 'noc'}, inplace=True)
# Tratamiento de datos
df1['noc'] = df1['noc'].astype('category')
valores_nulos = df1.isnull().sum()
print(valores_nulos)
print('-' * 80)
print(df1['noc'].unique())
print('-' * 80)
print(df1.info())

athlete_id           0
name                 0
born_date         1807
born_city        34592
born_region      34592
born_country     34592
noc                  1
height_cm        38849
weight_kg        43430
died_date       111560
dtype: int64
--------------------------------------------------------------------------------
['France', 'Great Britain', 'Germany West Germany', 'West Germany', 'Germany', ..., 'ROC', 'Democratic People's Republic of Korea Korea T..., 'France Sweden', 'Austria Czechia', NaN]
Length: 697
Categories (696, object): ['Afghanistan', 'Albania', 'Albania Australia', 'Albania Bulgaria', ..., 'Yemen', 'Yugoslavia', 'Zambia', 'Zimbabwe']
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  datetime64[ns]
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   noc           145499 non-null  category
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   datetime64[ns]
dtypes: category(1), datetime64[ns](2), float64(2), int64(1), object(4)
memory usage: 10.3+ MB
None

In [4]:
cols_to_convert = ['type', 'discipline', 'noc', 'medal'] # También se cabió el tipo de datos de la columna Team, tuvo que quitarse del código porque al eliminar la columna daba problemas a ejecutarlo
df2[cols_to_convert] = df2[cols_to_convert].astype('category')
#df2['place'] = df2['place'].astype(int)
print(df2['noc'].unique())
print('-' * 80)
print(df2['place'].unique())
print('-' * 80)
# Pasar year a string para quitar el .0 y luego pasarlo a fecha

print('-' * 80)
print(df2.info())

['FRA', 'GBR', 'FRG', 'GER', 'GHA', ..., 'KOS', 'EOR', 'SSD', 'COR', NaN]
Length: 230
Categories (229, object): ['AFG', 'AHO', 'ALB', 'ALG', ..., 'YMD', 'YUG', 'ZAM', 'ZIM']
--------------------------------------------------------------------------------
[ 17.  nan  32.   8.   4.  15.   3.   9.   2.  33.  49.   1.   5.  31.
  14.  16.   7.  13.  29.  25.  21.  11.  48.  26.  41.  61.   6.  81.
  75.  57.  19.  52.  12.  50.  35.  36.  55.  24.  63.  22.  40.  18.
  23.  44.  53.  46.  43.  60.  58.  73.  20.  71.  80.  76.  62.  27.
  30.  45.  34.  39.  51.  70.  37.  38.  47.  10.  74.  56.  64.  28.
  42.  54.  59.  72.  77.  65.  69.  79.  66.  83.  82.  67.  68.  84.
  78.  86. 106. 100. 117.  91.  89. 101.  98. 114.  88. 112. 102.  96.
 103.  94. 109.  92. 104.  85.  87. 110. 113.  99.  90.  93. 108. 105.
 107.  95. 116. 111.  97. 115. 120. 118. 121. 123. 124. 129. 122. 132.
 119. 130. 125. 127. 128. 126. 131. 133. 134. 178. 151. 180. 177. 174.
 159. 157. 161. 168. 144. 135. 166. 136. 182. 154. 162. 185. 184. 183.
 148. 137. 179. 176. 141. 155. 164. 158. 173. 169. 181. 139. 140. 152.
 147. 175. 170. 153. 150. 149. 146. 143. 156. 171. 172. 145. 165. 142.
 138. 160. 167. 163.]
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304337 entries, 0 to 304336
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   year        304337 non-null  float64
 1   type        304337 non-null  category
 2   discipline  304336 non-null  category
 3   event       304337 non-null  object
 4   as          304337 non-null  object
 5   athlete_id  304337 non-null  int64
 6   noc         304336 non-null  category
 7   place       280359 non-null  float64
 8   tied        304337 non-null  bool
 9   medal       43631 non-null   category
dtypes: bool(1), category(4), float64(2), int64(1), object(2)
memory usage: 13.4+ MB
None

In [5]:
# Duplicates
print(f"{df1.duplicated().sum()} duplicates in athletes")
print('-' * 80)
print(f"{df2.duplicated().sum()} duplicates in results")

0 duplicates in athletes
--------------------------------------------------------------------------------
23 duplicates in results

In [6]:
# Remove duplicates
df2.drop_duplicates(inplace = True)
print(f"{df2.duplicated().sum()} duplicates in results")
print('-' * 80)
print(df2.info())
print('-' * 80)
print(df2.isnull().sum())
'''
# Eliminar columna team
df2.drop(columns=['team'], inplace=True)
'''

0 duplicates in results
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 304314 entries, 0 to 304336
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   year        304314 non-null  float64
 1   type        304314 non-null  category
 2   discipline  304313 non-null  category
 3   event       304314 non-null  object
 4   as          304314 non-null  object
 5   athlete_id  304314 non-null  int64
 6   noc         304313 non-null  category
 7   place       280355 non-null  float64
 8   tied        304314 non-null  bool
 9   medal       43630 non-null   category
dtypes: bool(1), category(4), float64(2), int64(1), object(2)
memory usage: 15.7+ MB
None
--------------------------------------------------------------------------------
year               0
type               0
discipline         1
event              0
as                 0
athlete_id         0
noc                1
place          23959
tied               0
medal         260684
dtype: int64

"\n# Eliminar columna team\ndf2.drop(columns=['team'], inplace=True)\n"

In [7]:
print(len(df2['event'].unique()))

961

In [8]:
# Mostrar registros con la palabra Olympic
print(df2[df2['event'].str.contains('Olympic', case=False)].shape[0])

296898

In [9]:
# Registros sin la palabra Olympic
print(df2[~df2['event'].str.contains('Olympic', case=False)].shape[0])

7416

In [10]:
# Mostrar las fechas por orden
sorted_years = df2['year'].unique()
sorted_years.sort()
print(sorted_years)

[1896. 1900. 1904. 1908. 1912. 1920. 1924. 1928. 1932. 1936. 1948. 1952.
 1956. 1960. 1964. 1968. 1972. 1976. 1980. 1984. 1988. 1992. 1994. 1996.
 1998. 2000. 2002. 2004. 2006. 2008. 2010. 2012. 2014. 2016. 2018. 2020.
 2022.]

In [11]:
# Mostrar cuantos Intercalated hay
print(df2[df2['event'].str.contains('Intercalated', case=False)].shape[0])

0

In [12]:
print(df2[~df2['event'].str.contains('Olympic', case=False)].shape[0])

7416

In [13]:
print(list(df2['event'].unique()))

['Singles, Men (Olympic)', 'Doubles, Men (Olympic)', 'Doubles, Mixed (Olympic)', 'Épée, Individual, Men (Olympic)', 'Tennis', 'Doubles, Covered Courts, Mixed (Olympic)', 'Singles, Covered Courts, Men (Olympic)', 'Doubles, Covered Courts, Men (Olympic)', 'Polo', 'Singles, Covered Courts, Women (Olympic)', 'Singles, Women (Olympic)', 'Doubles, Women (Olympic)', 'Team, Women (Olympic)', 'Hockey, Men (Olympic)', '100 metres, Men (Olympic)', '400 metres, Men (Olympic)', '800 metres, Men (Olympic)', '110 metres Hurdles, Men (Olympic)', 'High Jump, Men (Olympic)', 'Pole Vault, Men (Olympic)', 'Long Jump, Men (Olympic)', 'Triple Jump, Men (Olympic)', 'Team, Men (Olympic)', 'Swimming (Aquatics)', '100 metres Freestyle, Men (Olympic)', '500 metres Freestyle, Men (Olympic)', '1,200 metres Freestyle, Men (Olympic)', 'Architecture, Open (Olympic)', 'Weightlifting', 'Unlimited, Two Hands, Men (Olympic)', 'Wrestling', 'Unlimited Class, Greco-Roman, Men (Olympic)', 'Athletics', 'Shot Put, Men (Olympic)', 'Individual, Men (Olympic)', 'Individual, Women (Olympic)', 'Target Archery, 28 metres, Team, Men (Olympic)', 'Target Archery, 33 metres, Team, Men (Olympic)', 'Target Archery, 50 metres, Team, Men (Olympic)', 'Pole Archery, Small Birds, Individual, Men (Olympic)', 'Pole Archery, Large Birds, Individual, Men (Olympic)', 'Pole Archery, Small Birds, Team, Men (Olympic)', 'Pole Archery, Large Birds, Team, Men (Olympic)', 'Sur La Perche À La Herse, Men (Olympic)', 'Au Chapelet, 33 metres, Men (Olympic)', 'Au Chapelet, 50 metres, Men (Olympic)', 'Au Cordon Doré, 33 metres, Men (Olympic)', 'Au Cordon Doré, 50 metres, Men (Olympic)', 'Championnat Du Monde, Men (Olympic)', 'Target Archery, 28 metres, Individual, Men (Olympic)', 'Target Archery, 33 metres, Individual, Men (Olympic)', 'Target Archery, 50 metres, Individual, Men (Olympic)', 'Continental Style, Men (Olympic)', 'Double York Round, Men (Olympic)', 'Sur La Perche À La Pyramide, Men (Olympic)', 'Double National Round, Women (Olympic)', '1,500 metres, Men (Olympic)', 'Marathon, Men (Olympic)', 'Welterweight, Men (Olympic)', 'Light-Heavyweight, Men (Olympic)', 'Featherweight, Men (Olympic)', 'Light-Welterweight, Men (Olympic)', 'Flyweight, Men (Olympic)', 'Lightweight, Men (Olympic)', 'Heavyweight, Men (Olympic)', 'Bantamweight, Men (Olympic)', 'Light-Flyweight, Men (Olympic)', 'Middleweight, Men (Olympic)', 'Light-Middleweight, Men (Olympic)', 'Super-Heavyweight, Men (Olympic)', 'Softball, Women (Olympic)', 'Baseball, Men (Olympic)', 'Team, Mixed (Olympic)', 'Double Columbia Round, Women (Olympic)', 'Team Round, Women (Olympic)', 'Double American Round, Men (Olympic)', 'Team Round, Men (Olympic)', '8 metres, Open (Olympic)', 'Golf', 'Basketball, Men (Olympic)', 'Road Race, Individual, Men (Olympic)', 'Basketball, Women (Olympic)', 'Triple Jump, Women (Olympic)', 'Handball, Women (Olympic)', 'One Person Dinghy, Open (Olympic)', 'Decathlon, Men (Olympic)', 'Four, Men (Olympic)', 'Football (Football)', 'Football, Men (Olympic)', 'Kayak Doubles, 500 metres, Women (Olympic)', 'Kayak Singles, 500 metres, Women (Olympic)', 'Kayak Doubles, 500 metres, Men (Olympic)', 'Kayak Fours, 1,000 metres, Men (Olympic)', 'Kayak Singles, 500 metres, Men (Olympic)', 'Kayak Doubles, 1,000 metres, Men (Olympic)', 'Kayak Singles, 1,000 metres, Men (Olympic)', 'Kayak Singles, Slalom, Men (Olympic)', 'Kayak Fours, 500 metres, Women (Olympic)', 'Kayak Singles, Slalom, Women (Olympic)', 'Kayak Singles, 10,000 metres, Men (Olympic)', 'Canadian Singles, Slalom, Men (Olympic)', 'Canoe Marathon (Canoeing)', 'Kayak Doubles, 10,000 metres, Men (Olympic)', 'Kayak Relay, 4 × 500 metres, Men (Olympic)', 'Canadian Doubles, Slalom, Men (Olympic)', 'Canadian Singles, 1,000 metres, Men (Olympic)', 'Canadian Singles, 10,000 metres, Men (Olympic)', 'Canadian Doubles, 1,000 metres, Men (Olympic)', 'Canadian Doubles, 10,000 metres, Men (Olympic)', 'Folding Kayak Doubles, 10,000 metres, Men (Olympic)', 'Folding Kayak Singles, 10,000 metres, Men (Olympic)', 'Canadian Singles, 500 metres, Men (Olympic)', 'Canadian Doubles, 500 metres, Men (Olympic)', 'Small-Bore Rifle, Prone, 50 metres, Open (Olympic)', 'Single Sculls, Women (Olympic)', 'Team Pursuit, 4,000 metres, Men (Olympic)', 'Road Race, Team, Men (Olympic)', '100 kilometres Team Time Trial, Men (Olympic)', 'Polo, Men (Olympic)', 'Rugby, Men (Olympic)', 'Eights, Men (Olympic)', 'Individual, Open (Olympic)', 'Team, Open (Olympic)', 'Tug-Of-War, Men (Olympic)', 'Lacrosse, Men (Olympic)', 'Hacks and Hunter Combined, Open (Olympic)', 'Springboard, Women (Olympic)', 'Equestrian Eventing (Equestrian)', 'Four-In-Hand Competition, Open (Olympic)', 'Equestrian Dressage (Equestrian)', 'Sabre, Team, Men (Olympic)', 'Long Jump, Open (Olympic)', 'High Jump, Open (Olympic)', 'Equestrian Driving (Equestrian)', 'Four/Five, Men (Olympic)', 'Sabre, Individual, Men (Olympic)', '20 kilometres, Men (Olympic)', 'Individual Pursuit, 4,000 metres, Men (Olympic)', 'Sprint, Men (Olympic)', 'Cycling Track (Cycling)', '1,000 metres Time Trial, Men (Olympic)', 'Points Race, Men (Olympic)', 'Road Race, Individual, Women (Olympic)', 'Cycling Mountain Bike (Cycling)', 'Cross-Country, Women (Olympic)', 'Individual Pursuit, Women (Olympic)', 'Points Race, Women (Olympic)', 'Individual Time Trial, Women (Olympic)', 'Team Pursuit, Women (Olympic)', 'Sprint, Women (Olympic)', '500 metres Time Trial, Women (Olympic)', 'Two, Women (Olympic)', '3,000 metres, Women (Olympic)', '5,000 metres, Women (Olympic)', 'Team Pursuit (6 laps), Women (Olympic)', 'Keirin, Women (Olympic)', 'Team Sprint, Women (Olympic)', 'Madison, Men (Olympic)', '50 kilometres, Men (Olympic)', 'Tandem Sprint, 2,000 metres, Men (Olympic)', 'Team Pursuit, 1,980 yards, Men (Olympic)', '5,000 metres, Men (Olympic)', '100 kilometres, Men (Olympic)', 'Individual Time Trial, Men (Olympic)', '¼ mile, Men (Olympic)', '½ mile, Men (Olympic)', '5 miles, Men (Olympic)', '25 miles, Men (Olympic)', 'Cross-Country, Men (Olympic)', '333⅓ metres Time Trial, Men (Olympic)', 'Team Sprint, Men (Olympic)', '⅓ mile, Men (Olympic)', '1 mile, Men (Olympic)', '2 miles, Men (Olympic)', 'Keirin, Men (Olympic)', 'Omnium, Men (Olympic)', '25 kilometres, Men (Olympic)', '10,000 metres, Men (Olympic)', '12-Hours Race, Men (Olympic)', '4 × 100 metres Relay, Men (Olympic)', '18 kilometres, Men (Olympic)', 'Cycling Road (Cycling)', 'Hockey, Women (Olympic)', '400 metres, Women (Olympic)', '4 × 400 metres Relay, Women (Olympic)', 'Two, Men (Olympic)', 'Cricket, Men (Olympic)', 'Singles, One Ball, Open (Olympic)', 'Doubles, Open (Olympic)', 'Singles, Two Balls, Open (Olympic)', 'A-Class (Open), Open (Olympic)', 'Tug-Of-War', '200 metres Hurdles, Men (Olympic)', 'Discus Throw, Men (Olympic)', 'B-Class (Under 60 feet), Open (Olympic)', 'C-Class, Open (Olympic)', 'Racquets', 'Heavyweight, Greco-Roman, Men (Olympic)', 'Heavyweight, Freestyle, Men (Olympic)', '56-pound Weight Throw, Men (Olympic)', 'Lightweight, Freestyle, Men (Olympic)', 'All-Around Dumbbell Contest, Men (Olympic)', 'Hammer Throw, Men (Olympic)', 'Javelin Throw, Men (Olympic)', 'Javelin Throw, Both Hands, Men (Olympic)', 'Hockey', '3,000 metres Steeplechase, Men (Olympic)', 'Foil, Individual, Women (Olympic)', 'Foil, Team, Women (Olympic)', 'Épée, Individual, Women (Olympic)', 'Épée, Team, Women (Olympic)', 'Foil, Individual, Men (Olympic)', 'Foil, Team, Men (Olympic)', 'Épée, Team, Men (Olympic)', 'Sabre, Masters, Individual, Men (Olympic)', 'Modern Pentathlon', '400 metres Freestyle, Men (Olympic)', 'Water Polo (Aquatics)', 'Water Polo, Men (Olympic)', 'Ice Hockey, Men (Olympic)', 'Foil, Masters, Individual, Men (Olympic)', 'Épée, Masters and Amateurs, Individual, Men (Olympic)', 'Épée, Masters, Individual, Men (Olympic)', 'Literature, Open (Olympic)', 'Free Pistol, 50 yards, Men (Olympic)', 'Small-Bore Rifle, 50 and 100 yards, Team, Men (Olympic)', 'Rowing', 'Shooting', 'Dueling Pistol, 30 metres, Team, Men (Olympic)', 'Fencing', 'Trap, Team, Men (Olympic)', 'Three Person Keelboat, Open (Olympic)', 'Art Competitions', 'Single Sticks, Individual, Men (Olympic)', '200 metres, Men (Olympic)', 'Football, Women (Olympic)', 'Platform, Women (Olympic)', 'Synchronized Platform, Women (Olympic)', 'Platform, Men (Olympic)', 'Synchronized Platform, Men (Olympic)', '4 × 400 metres Relay, Men (Olympic)', 'Individual All-Around, Women (Olympic)', 'Floor Exercise, Women (Olympic)', 'Horse Vault, Women (Olympic)', 'Uneven Bars, Women (Olympic)', 'Balance Beam, Women (Olympic)', 'Team All-Around, Women (Olympic)', 'Team Portable Apparatus, Women (Olympic)', 'Group, Women (Olympic)', 'Individual All-Around, Men (Olympic)', 'Team All-Around, Men (Olympic)', 'Floor Exercise, Men (Olympic)', 'Horse Vault, Men (Olympic)', 'Parallel Bars, Men (Olympic)', 'Horizontal Bar, Men (Olympic)', 'Rings, Men (Olympic)', 'Pommelled Horse, Men (Olympic)', 'Pole Vault, Women (Olympic)', 'Individual All-Around, Field Sports, Men (Olympic)', 'Individual All-Around, Apparatus Work, Men (Olympic)', 'Team All-Around, Swedish System, Men (Olympic)', 'Team All-Around, Free System, Men (Olympic)', 'Rope Climbing, Men (Olympic)', 'Side Horse, Men (Olympic)', '6 metres, Open (Olympic)', 'Artistic Gymnastics (Gymnastics)', 'Free Rifle, Three Positions, 300 metres, Men (Olympic)', 'Free Rifle, Three Positions, 300 metres, Team, Men (Olympic)', 'Military Rifle, Prone, 300 metres, Team, Men (Olympic)', 'Military Rifle, Prone, 600 metres, Men (Olympic)', 'Military Rifle, Prone, 600 metres, Team, Men (Olympic)', 'Military Rifle, Standing, 300 metres, Men (Olympic)', 'Military Rifle, Standing, 300 metres, Team, Men (Olympic)', 'Military Rifle, Prone, 300 and 600 metres, Team, Men (Olympic)', 'Running Target, Single Shot, Team, Men (Olympic)', 'Running Target, Double Shot, Team, Men (Olympic)', 'Running Target, Single Shot, Men (Olympic)', 'Running Target, Double Shot, Men (Olympic)', 'Lightweight, Greco-Roman, Men (Olympic)', 'Parallel Bars, Teams, Men (Olympic)', 'Horizontal Bar, Teams, Men (Olympic)', 'Military Pistol, 25 metres, Men (Olympic)', 'Military Rifle, 200 metres, Men (Olympic)', 'Tumbling, Men (Olympic)', 'Club Swinging, Men (Olympic)', 'Plain High, Men (Olympic)', 'Standing Long Jump, Men (Olympic)', 'Individual All-Around, 4 Events, Men (Olympic)', 'Handball, Men (Olympic)', 'Handball', 'Combined, Men (Olympic)', 'Cross Country Skiing (Skiing)', '4 × 10 kilometres Relay, Men (Olympic)', 'Half-Middleweight, Women (Olympic)', 'Lightweight, Women (Olympic)', 'Heavyweight, Women (Olympic)', 'Half-Heavyweight, Women (Olympic)', 'Extra-Lightweight, Women (Olympic)', 'Middleweight, Women (Olympic)', 'Half-Lightweight, Women (Olympic)', 'Heavyweight, Freestyle, Women (Olympic)', 'Half-Middleweight, Men (Olympic)', 'Half-Lightweight, Men (Olympic)', 'Open Class, Men (Olympic)', 'Extra-Lightweight, Men (Olympic)', 'Half-Heavyweight, Men (Olympic)', 'Welterweight, Greco-Roman, Men (Olympic)', 'Welterweight, Freestyle, Men (Olympic)', 'Rapid-Fire Pistol, 25 metres, Men (Olympic)', 'Military Ski Patrol, Men (Olympic)', '200 metres Breaststroke, Men (Olympic)', '400 metres Breaststroke, Men (Olympic)', 'Double Sculls, Women (Olympic)', 'Coxless Pairs, Women (Olympic)', 'Lightweight Double Sculls, Women (Olympic)', 'Coxed Fours, Men (Olympic)', 'Coxless Pairs, Men (Olympic)', 'Coxless Fours, Men (Olympic)', 'Coxed Pairs, Men (Olympic)', 'Quadruple Sculls, Men (Olympic)', 'Single Sculls, Men (Olympic)', 'Double Sculls, Men (Olympic)', 'Lightweight Coxless Fours, Men (Olympic)', 'Lightweight Double Sculls, Men (Olympic)', 'Coxed Fours, Women (Olympic)', 'Eights, Women (Olympic)', 'Coxless Fours, Women (Olympic)', 'Quadruple Sculls, Women (Olympic)', 'Coxed Fours, Outriggers, Men (Olympic)', 'Literature, Lyric Works, Open (Olympic)', 'Coxed Quadruple Sculls, Women (Olympic)', 'Coxed Fours, Inriggers, Men (Olympic)', 'Sculpturing, Medals And Reliefs, Open (Olympic)', 'Sculpturing, Statues, Open (Olympic)', 'Sculpturing, Unknown Event, Open (Olympic)', 'Two Person Keelboat, Open (Olympic)', 'Air Rifle, 10 metres, Women (Olympic)', 'Trap, Open (Olympic)', 'Trap, Men (Olympic)', 'Double Trap, Men (Olympic)', 'Air Pistol, 10 metres, Women (Olympic)', 'Sporting Pistol, 25 metres, Women (Olympic)', 'Free Pistol, 50 metres, Open (Olympic)', 'Small-Bore Rifle, Three Positions, 50 metres, Women (Olympic)', 'Free Pistol, 50 metres, Men (Olympic)', 'Small-Bore Rifle, Prone, 50 metres, Men (Olympic)', 'Small-Bore Rifle, Three Positions, 50 metres, Men (Olympic)', 'Rapid-Fire Pistol, 25 metres, Open (Olympic)', 'Small-Bore Rifle, Three Positions, 50 metres, Open (Olympic)', 'Skeet, Men (Olympic)', 'Running Target, 50 metres, Open (Olympic)', 'Skeet, Open (Olympic)', 'Air Rifle, 10 metres, Men (Olympic)', 'Air Pistol, 10 metres, Men (Olympic)', 'Double Trap, Women (Olympic)', 'Trap, Women (Olympic)', 'Running Target, Single and Double Shot, Men (Olympic)', 'Small-Bore Rifle, Prone, 50 and 100 yards, Men (Olympic)', 'Small-Bore Rifle, Disappearing Target, 25 yards, Men (Olympic)', 'Small-Bore Rifle, Moving Target, 25 yards, Men (Olympic)', 'Running Target, 50 metres, Men (Olympic)', 'Running Target, 10 metres, Men (Olympic)', 'Dueling Pistol, 30 metres, Men (Olympic)', 'Military Rifle, Three Positions, 300 metres, Men (Olympic)', 'Military Rifle, Any Position, 600 metres, Men (Olympic)', 'Free Pistol, 50 metres, Team, Men (Olympic)', 'Free Rifle, Prone, 600 metres, Men (Olympic)', 'Free Rifle, 400, 600 and 800 metres, Team, Men (Olympic)', 'Small-Bore Rifle, Standing, 50 metres, Men (Olympic)', 'Smal-Bore Rifle, Standing, 50 metres, Team, Men (Olympic)', 'Military Pistol, Team, Men (Olympic)', 'Free Rifle, Kneeling, 300 metres, Men (Olympic)', 'Free Rifle, Prone, 300 metres, Men (Olympic)', 'Free Rifle, Standing, 300 metres, Men (Olympic)', 'Free Pistol, 50 yards, Team, Men (Olympic)', 'Military Pistol, 30 metres, Men (Olympic)', 'Free Rifle, 1,000 yards, Men (Olympic)', 'Military Rifle, 200/500/600/800/900/1,000 yards, Team, Men (Olympic)', 'Skeet, Women (Olympic)', 'Free Rifle, Three Positions, 300 metres, Open (Olympic)', 'Military Rifle, Prone, 300 metres, Men (Olympic)', 'Military Rifle, 200, 400, 500 and 600 metres, Team, Men (Olympic)', 'Small-Bore Rifle, Prone, 50 metres, Team, Men (Olympic)', 'Small-Bore Rifle, Any Position, 50 metres, Men (Olympic)', 'Small-Bore Rifle, Disappearing Target, 25 metres, Men (Olympic)', 'Free Rifle, Any Position, 300 metres, Men (Olympic)', 'Unlimited, One Hand, Men (Olympic)', 'Skeleton, Men (Olympic)', 'Muzzle-Loading Pistol, 25 metres, Men (Olympic)', 'Small-Bore Rifle, Disappearing Target, 25 metres, Team, Men (Olympic)', 'Free Pistol, 30 metres, Men (Olympic)', 'Architecture, Further Entries, Open (Olympic)', 'Sculpturing, Open (Olympic)', '100 metres Backstroke, Women (Olympic)', 'Solo, Women (Olympic)', 'Duet, Women (Olympic)', '50 metres Freestyle, Men (Olympic)', '200 metres Freestyle, Men (Olympic)', '100 metres Breaststroke, Men (Olympic)', '4 × 200 metres Freestyle Relay, Men (Olympic)', '1,500 metres Freestyle, Men (Olympic)', '100 metres Butterfly, Men (Olympic)', '200 metres Butterfly, Men (Olympic)', '200 metres Individual Medley, Women (Olympic)', '100 metres Breaststroke, Women (Olympic)', '200 metres Breaststroke, Women (Olympic)', '100 metres Freestyle, Women (Olympic)', '50 metres Freestyle, Women (Olympic)', '100 metres Butterfly, Women (Olympic)', '4 × 100 metres Medley Relay, Men (Olympic)', '100 metres Backstroke, Men (Olympic)', '4 × 200 metres Freestyle Relay, Women (Olympic)', '4 × 100 metres Medley Relay, Women (Olympic)', '400 metres Individual Medley, Women (Olympic)', '400 metres Freestyle, Women (Olympic)', '800 metres Freestyle, Women (Olympic)', '4 × 100 metres Freestyle Relay, Women (Olympic)', '200 metres Backstroke, Women (Olympic)', '200 metres Freestyle, Women (Olympic)', '200 metres Butterfly, Women (Olympic)', '200 metres Backstroke, Men (Olympic)', '200 metres Individual Medley, Men (Olympic)', '400 metres Individual Medley, Men (Olympic)', 'Plain High, Women (Olympic)', '300 metres Freestyle, Women (Olympic)', 'Synchronized Springboard, Women (Olympic)', '4 × 100 metres Freestyle Relay, Men (Olympic)', 'Diving (Aquatics)', 'Springboard, Men (Olympic)', '1,000 metres Freestyle, Men (Olympic)', '200 metres Obstacle Course, Men (Olympic)', '440 yards Freestyle, Men (Olympic)', '880 yards Freestyle, Men (Olympic)', '1 mile Freestyle, Men (Olympic)', '4,000 metres Freestyle, Men (Olympic)', 'Synchronized Springboard, Men (Olympic)', 'Underwater Swimming, Men (Olympic)', 'Architecture, Designs For Town Planning, Open (Olympic)', '200 metres Team Swimming, Men (Olympic)', '50 yards Freestyle, Men (Olympic)', '4 × 50 yards Freestyle Relay, Men (Olympic)', '100 yards Backstroke, Men (Olympic)', '440 yards Breaststroke, Men (Olympic)', '100 yards Freestyle, Men (Olympic)', '220 yards Freestyle, Men (Olympic)', '100 metres Freestyle For Sailors, Men (Olympic)', 'Olympic Distance, Women (Olympic)', 'Plunge For Distance, Men (Olympic)', 'Beach Volleyball, Men (Olympic)', 'Beach Volleyball, Women (Olympic)', 'Volleyball, Women (Olympic)', 'Volleyball, Men (Olympic)', 'Middle-Heavyweight, Men (Olympic)', 'Heavyweight II, Men (Olympic)', 'Heavyweight I, Men (Olympic)', 'Long Jump, Women (Olympic)', '4 × 100 metres Relay, Women (Olympic)', 'Light-Heavyweight, Freestyle, Men (Olympic)', '20 kilometres Race Walk, Women (Olympic)', 'Featherweight, Greco-Roman, Men (Olympic)', 'Featherweight, Freestyle, Men (Olympic)', 'Light-Flyweight, Freestyle, Men (Olympic)', 'Bantamweight, Freestyle, Men (Olympic)', 'Flyweight, Freestyle, Men (Olympic)', 'Middleweight, Freestyle, Men (Olympic)', 'Bantamweight, Greco-Roman, Men (Olympic)', 'Middleweight, Greco-Roman, Men (Olympic)', 'Super-Heavyweight, Greco-Roman, Men (Olympic)', 'Super-Heavyweight, Freestyle, Men (Olympic)', 'Light-Heavyweight, Greco-Roman, Men (Olympic)', 'Flyweight, Greco-Roman, Men (Olympic)', 'Middleweight B, Greco-Roman, Men (Olympic)', 'Middleweight A, Greco-Roman, Men (Olympic)', 'Light-Flyweight, Greco-Roman, Men (Olympic)', 'Glíma', 'Two Person Dinghy, Women (Olympic)', 'Windsurfer, Women (Olympic)', 'One Person Dinghy, Women (Olympic)', 'Multihull, Open (Olympic)', 'Three Person Keelboat, Women (Olympic)', 'Two Person Dinghy, Open (Olympic)', '5.5 metres, Open (Olympic)', '7 metres, Open (Olympic)', 'Two Person Heavyweight Dinghy, Open (Olympic)', 'Windsurfer, Men (Olympic)', 'One Person Dinghy, Men (Olympic)', 'One Person Heavyweight Dinghy, Men (Olympic)', 'Windsurfer, Open (Olympic)', 'Open, Open (Olympic)', '1-2 Ton, Open (Olympic)', '12 metres, Open (Olympic)', '40 metres², Open (Olympic)', 'Two Person Dinghy, Men (Olympic)', '10 metres, Open (Olympic)', '½-1 Ton, Open (Olympic)', 'Music, Compositions For Orchestra, Open (Olympic)', 'Two Person Keelboat, Men (Olympic)', '30 metres², Open (Olympic)', '12 foot, Open (Olympic)', '10-20 Ton, Open (Olympic)', '2-3 Ton, Open (Olympic)', 'Skiff, Open (Olympic)', '0-½ Ton, Open (Olympic)', '20+ Ton, Open (Olympic)', '6.5 metres, Open (Olympic)', '3-10 Ton, Open (Olympic)', 'Multihull, Mixed (Olympic)', '400 metres Hurdles, Men (Olympic)', '200 metres, Women (Olympic)', '800 metres, Women (Olympic)', '1,500 metres, Women (Olympic)', 'Javelin Throw, Women (Olympic)', 'Heptathlon, Women (Olympic)', '20 kilometres Race Walk, Men (Olympic)', '50 kilometres Race Walk, Men (Olympic)', 'High Jump, Women (Olympic)', '100 metres, Women (Olympic)', 'Discus Throw, Women (Olympic)', '100 metres Hurdles, Women (Olympic)', '10,000 metres, Women (Olympic)', 'Marathon, Women (Olympic)', 'Shot Put, Women (Olympic)', '80 metres Hurdles, Women (Olympic)', 'Hammer Throw, Women (Olympic)', '10 kilometres Race Walk, Women (Olympic)', '400 metres Hurdles, Women (Olympic)', 'Pentathlon, Women (Olympic)', '10 miles Race Walk, Men (Olympic)', '10 kilometres Race Walk, Men (Olympic)', 'Boxing', 'Pentathlon, Men (Olympic)', 'Standing

In [14]:
print(df2[df2['event'].str.contains('painting', case=False)].shape[0])

0

In [15]:
print(df2[df2['event'].str.contains('open', case=False)].shape[0])

12280

In [16]:
print(df2[df2['event'].str.contains('non-medal', case=False)].shape[0])

0

In [17]:
# Eliminamos valores con non-medal
df2 = df2[~df2['event'].str.contains('non-medal', case=False)]
print(df2.info())
print('-' * 80)
print(df2[df2['event'].str.contains('non-medal', case=False)].shape[0])

<class 'pandas.core.frame.DataFrame'>
Index: 304314 entries, 0 to 304336
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   year        304314 non-null  float64
 1   type        304314 non-null  category
 2   discipline  304313 non-null  category
 3   event       304314 non-null  object
 4   as          304314 non-null  object
 5   athlete_id  304314 non-null  int64
 6   noc         304313 non-null  category
 7   place       280355 non-null  float64
 8   tied        304314 non-null  bool
 9   medal       43630 non-null   category
dtypes: bool(1), category(4), float64(2), int64(1), object(2)
memory usage: 15.7+ MB
None
--------------------------------------------------------------------------------
0

In [18]:
# Eliminamos valores con Intercalated
df2 = df2[~df2['event'].str.contains('Intercalated', case=False)]
print(df2.info())
print('-' * 80)
print(df2[df2['event'].str.contains('Intercalated', case=False)].shape[0])

<class 'pandas.core.frame.DataFrame'>
Index: 304314 entries, 0 to 304336
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   year        304314 non-null  float64
 1   type        304314 non-null  category
 2   discipline  304313 non-null  category
 3   event       304314 non-null  object
 4   as          304314 non-null  object
 5   athlete_id  304314 non-null  int64
 6   noc         304313 non-null  category
 7   place       280355 non-null  float64
 8   tied        304314 non-null  bool
 9   medal       43630 non-null   category
dtypes: bool(1), category(4), float64(2), int64(1), object(2)
memory usage: 15.7+ MB
None
--------------------------------------------------------------------------------
0

In [19]:
# Eliminamos valores con Painting
df2 = df2[~df2['event'].str.contains('Painting', case=False)]
print(df2.info())
print('-' * 80)
print(df2[df2['event'].str.contains('Painting', case=False)].shape[0])

<class 'pandas.core.frame.DataFrame'>
Index: 304314 entries, 0 to 304336
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   year        304314 non-null  float64
 1   type        304314 non-null  category
 2   discipline  304313 non-null  category
 3   event       304314 non-null  object
 4   as          304314 non-null  object
 5   athlete_id  304314 non-null  int64
 6   noc         304313 non-null  category
 7   place       280355 non-null  float64
 8   tied        304314 non-null  bool
 9   medal       43630 non-null   category
dtypes: bool(1), category(4), float64(2), int64(1), object(2)
memory usage: 15.7+ MB
None
--------------------------------------------------------------------------------
0

In [20]:
print(df2[~df2['event'].str.contains('Olympic', case=False)].shape[0])
print('-' * 80)
print(df2[df2['event'].str.contains('YOG', case=False)].shape[0])

7416
--------------------------------------------------------------------------------
5842

In [21]:
# Filtrar eventos que NO contienen 'Olympic' ni 'YOG' y obtener los únicos
non_olympic_yog_unique_events = df2[
    ~df2['event'].str.contains('Olympic', case=False) & 
    ~df2['event'].str.contains('YOG', case=False)
]['event'].unique()

# Convertir a lista si deseas
non_olympic_yog_unique_events_list = non_olympic_yog_unique_events.tolist()
2615
# Imprimir los eventos únicos
print(non_olympic_yog_unique_events_list)

['Tennis', 'Polo', 'Swimming (Aquatics)', 'Weightlifting', 'Wrestling', 'Athletics', 'Golf', 'Football (Football)', 'Canoe Marathon (Canoeing)', 'Equestrian Eventing (Equestrian)', 'Equestrian Dressage (Equestrian)', 'Equestrian Driving (Equestrian)', 'Cycling Track (Cycling)', 'Cycling Mountain Bike (Cycling)', 'Cycling Road (Cycling)', 'Tug-Of-War', 'Racquets', 'Hockey', 'Modern Pentathlon', 'Water Polo (Aquatics)', 'Rowing', 'Shooting', 'Fencing', 'Art Competitions', 'Artistic Gymnastics (Gymnastics)', 'Handball', 'Cross Country Skiing (Skiing)', 'Diving (Aquatics)', 'Glíma', 'Boxing', 'Rugby (Rugby)', 'Ski Jumping (Skiing)', 'Nordic Combined (Skiing)', 'Basketball (Basketball)', 'Baseball (Baseball/Softball)', 'Curling', 'Luge', 'Military Ski Patrol (Skiing)', 'Skeleton (Bobsleigh)', 'Speed Skating (Skating)', 'Ice Hockey (Ice Hockey)', 'Bobsleigh (Bobsleigh)', 'Alpine Skiing (Skiing)', 'Marathon Swimming (Aquatics)', 'Skijoring (Skiing)', 'Short Track Speed Skating (Skating)', 'Snowboarding (Skiing)', 'Freestyle Skiing (Skiing)', '3-on-3 Ice Hockey (Ice Hockey)']

In [22]:
# Filtrar eventos que NO contienen 'Olympic' ni 'YOG'
filtered_events = df2[
    ~df2['event'].str.contains('Olympic', case=False) & 
    ~df2['event'].str.contains('YOG', case=False)
]

# Contar la frecuencia de cada evento
event_counts = filtered_events['event'].value_counts()

# Imprimir los resultados
print(event_counts)

event
Cycling Track (Cycling)                353
Nordic Combined (Skiing)               167
Water Polo (Aquatics)                  149
Ski Jumping (Skiing)                   145
Canoe Marathon (Canoeing)              111
Cross Country Skiing (Skiing)           88
Swimming (Aquatics)                     78
Equestrian Eventing (Equestrian)        74
Athletics                               46
Modern Pentathlon                       41
Fencing                                 26
Baseball (Baseball/Softball)            24
Marathon Swimming (Aquatics)            24
Equestrian Dressage (Equestrian)        23
Tug-Of-War                              22
Artistic Gymnastics (Gymnastics)        20
Shooting                                19
Tennis                                  16
Cycling Mountain Bike (Cycling)         15
3-on-3 Ice Hockey (Ice Hockey)          13
Wrestling                               13
Military Ski Patrol (Skiing)            11
Weightlifting                           10
Cycling Road (Cycling)                   8
Football (Football)                      6
Basketball (Basketball)                  5
Art Competitions                         5
Short Track Speed Skating (Skating)      5
Speed Skating (Skating)                  5
Hockey                                   5
Ice Hockey (Ice Hockey)                  4
Luge                                     4
Skeleton (Bobsleigh)                     4
Alpine Skiing (Skiing)                   4
Snowboarding (Skiing)                    3
Glíma                                    3
Equestrian Driving (Equestrian)          3
Freestyle Skiing (Skiing)                3
Rowing                                   3
Rugby (Rugby)                            3
Racquets                                 2
Bobsleigh (Bobsleigh)                    2
Curling                                  2
Boxing                                   2
Golf                                     1
Polo                                     1
Diving (Aquatics)                        1
Handball                                 1
Skijoring (Skiing)                       1
Name: count, dtype: int64

In [23]:
# Filtrar eventos que NO contienen 'Olympic', 'YOG' y paréntesis
filtered_events = df2[
    ~df2['event'].str.contains('Olympic', case=False) & 
    ~df2['event'].str.contains('YOG', case=False) &
    ~df2['event'].str.contains(r'\(.*\)', regex=True)  # Verifica que no haya paréntesis
]

# Contar la frecuencia de cada evento que cumple con las condiciones
event_counts = filtered_events['event'].value_counts()

# Imprimir los resultados
print(event_counts)

event
Athletics            46
Modern Pentathlon    41
Fencing              26
Tug-Of-War           22
Shooting             19
Tennis               16
Wrestling            13
Weightlifting        10
Hockey                5
Art Competitions      5
Luge                  4
Rowing                3
Glíma                 3
Curling               2
Racquets              2
Boxing                2
Polo                  1
Golf                  1
Handball              1
Name: count, dtype: int64

In [24]:
# Filtrar eventos que NO contienen 'Olympic', 'YOG', paréntesis y que tienen registros vacíos en 'place'
filtered_events = df2[
    ~df2['event'].str.contains('Olympic', case=False) & 
    ~df2['event'].str.contains('YOG', case=False) &
    ~df2['event'].str.contains(r'\(.*\)', regex=True) &  # Sin paréntesis
    df2['place'].isnull()  # Sin registros en 'place'
]

# Contar la frecuencia de cada evento que cumple con las condiciones
event_counts = filtered_events['event'].value_counts()

# Imprimir los resultados
print(event_counts)

filtered_events_2020 = filtered_events[filtered_events['year'] == 2020]

# Seleccionar las columnas 'event', 'year' y 'place'
results = filtered_events_2020[['event', 'year', 'place']]

# Imprimir los resultados
print(results)

event
Athletics            46
Modern Pentathlon    41
Fencing              26
Tug-Of-War           22
Shooting             19
Tennis               16
Wrestling            13
Weightlifting        10
Hockey                5
Art Competitions      5
Luge                  4
Rowing                3
Glíma                 3
Curling               2
Racquets              2
Boxing                2
Polo                  1
Golf                  1
Handball              1
Name: count, dtype: int64
Empty DataFrame
Columns: [event, year, place]
Index: []

In [25]:
# Filtrar eventos que NO contienen 'Olympic', 'YOG', paréntesis, tienen registros vacíos en 'place'
# y son eventos de 'mixed sports'
filtered_events = df2[
    ~df2['event'].str.contains('Olympic', case=False) & 
    ~df2['event'].str.contains('YOG', case=False) &
    ~df2['event'].str.contains(r'\(.*\)', regex=True) &  # Sin paréntesis
    df2['place'].isnull() &  # Sin registros en 'place'
    df2['event'].str.contains('mixed', case=False)  # Eventos de mixed sports
]

# Contar la frecuencia de cada evento que cumple con las condiciones
event_counts = filtered_events['event'].value_counts()

# Imprimir los resultados
print(event_counts)

Series([], Name: count, dtype: int64)

In [26]:
# Filtrar disciplinas donde el evento contiene 'mixed'
mixed_discipline_unique = df2[df2['event'].str.contains('mixed sports', case=False)]['discipline'].unique()

# Convertir a lista si deseas
mixed_discipline_unique_list = mixed_discipline_unique.tolist()

# Imprimir los resultados
print(mixed_discipline_unique_list)

[]

In [27]:
# Contar registros donde 'place' está vacío (nulo)
empty_place_count = df2['place'].isnull().sum()

# Imprimir el resultado
print(f"Número de registros con 'place' vacío: {empty_place_count}")

Número de registros con 'place' vacío: 23959

In [28]:
print('-' * 80)
print(df2.isnull().sum())

--------------------------------------------------------------------------------
year               0
type               0
discipline         1
event              0
as                 0
athlete_id         0
noc                1
place          23959
tied               0
medal         260684
dtype: int64

In [29]:
# Eliminar los registros mixed sports cuyo valor en place sea null
df2 = df2[~((df2['event'].str.contains('mixed sports', case=False)) & (df2['place'].isnull()))]

# Imprimir el número de registros restantes
print(f"Número de registros restantes: {df2.shape[0]}")

Número de registros restantes: 304314

In [30]:
print('-' * 80)
print(df2.isnull().sum())
# Se mantienen los registros con valores null en la columna place ya que sirven para el anlisis

--------------------------------------------------------------------------------
year               0
type               0
discipline         1
event              0
as                 0
athlete_id         0
noc                1
place          23959
tied               0
medal         260684
dtype: int64

In [31]:
registros_null = df2[df2['year'].isnull()]

print(registros_null)

Empty DataFrame
Columns: [year, type, discipline, event, as, athlete_id, noc, place, tied, medal]
Index: []

In [32]:
# Conteo de disciplinas que nos queda al final para la segunda pregunta
valores_unicos = df2['discipline'].unique()
valores = valores_unicos.tolist()
print(valores)
print('-' * 80)
print(len(valores))

['Tennis', 'Table Tennis', 'Fencing', 'Badminton', 'Hockey', 'Athletics', 'Art Competitions', 'Modern Pentathlon', 'Archery', 'Boxing', 'Softball (Baseball/Softball)', 'Baseball (Baseball/Softball)', 'Sailing', 'Golf', 'Jeu De Paume', 'Basketball (Basketball)', 'Cycling Road (Cycling)', 'Handball', 'Bobsleigh (Bobsleigh)', 'Canoe Sprint (Canoeing)', 'Canoe Slalom (Canoeing)', 'Canoe Marathon (Canoeing)', 'Shooting', 'Rowing', 'Cycling Track (Cycling)', 'Polo', 'Rugby (Rugby)', 'Equestrian Dressage (Equestrian)', 'Equestrian Eventing (Equestrian)', 'Equestrian Jumping (Equestrian)', 'Tug-Of-War', 'Lacrosse', 'Diving (Aquatics)', 'Equestrian Vaulting (Equestrian)', 'Equestrian Driving (Equestrian)', 'Cycling Mountain Bike (Cycling)', 'Speed Skating (Skating)', 'Football (Football)', 'Cross Country Skiing (Skiing)', 'Racquets', 'Cricket', 'Croquet', 'Motorboating', 'Swimming (Aquatics)', 'Ice Hockey (Ice Hockey)', 'Artistic Gymnastics (Gymnastics)', 'Rhythmic Gymnastics (Gymnastics)', 'Weightlifting', 'Wrestling', 'Alpine Skiing (Skiing)', 'Judo', 'Military Ski Patrol (Skiing)', 'Nordic Combined (Skiing)', 'Water Polo (Aquatics)', 'Skeleton (Bobsleigh)', 'Artistic Swimming (Aquatics)', 'Triathlon', 'Beach Volleyball (Volleyball)', 'Volleyball (Volleyball)', 'Biathlon', 'Figure Skating (Skating)', 'Basque pelota', 'Luge', 'Short Track Speed Skating (Skating)', 'Freestyle Skiing (Skiing)', 'Ski Jumping (Skiing)', 'Cycling BMX Racing (Cycling)', 'Trampolining (Gymnastics)', 'Marathon Swimming (Aquatics)', 'Taekwondo', 'Snowboarding (Skiing)', 'Curling', 'Roque', '3x3 Basketball (Basketball)', 'Skateboarding (Roller Sports)', 'Mixed Sports', 'Rugby Sevens (Rugby)', 'Hockey 5s', 'Ballooning (Air Sports)', 'Ski Mountaineering', '3-on-3 Ice Hockey (Ice Hockey)', 'Karate', 'Surfing', 'Cycling BMX Freestyle (Cycling)', 'Sport Climbing', 'Roller Skating (Roller Sports)', nan]
--------------------------------------------------------------------------------
87

In [33]:
# Count de participantes para la primera pregunta
valores_unicos = df2['athlete_id'].unique()
valores = valores_unicos.tolist()
print(len(valores))

144610

In [34]:
# Filtrar filas donde 'year' es null y 'medal' es gold, silver o bronze
filtro = df2[df2['year'].isnull() & df2['medal'].isin(['Gold', 'Silver', 'Bronze'])]

print(len(filtro))

0

In [35]:
# Atletas con year null y con medallas
filtro = df2[df2['year'].isnull() & df2['medal'].isin(['Gold', 'Silver', 'Bronze'])]
nombres = filtro['as']
print(nombres.tolist())

[]

In [36]:
# Eliminar registros donde la columna 'year' tiene valores nulos
df2 = df2.dropna(subset=['year'])

# Verificar el tamaño del DataFrame después de la eliminación
print(len(df2))

print('-' * 80)
print(df2.isnull().sum())

304314
--------------------------------------------------------------------------------
year               0
type               0
discipline         1
event              0
as                 0
athlete_id         0
noc                1
place          23959
tied               0
medal         260684
dtype: int64

In [37]:
# Filtrar registros donde 'discipline' y 'noc' son nulos
filtro = df2[df2['discipline'].isnull() & df2['noc'].isnull()]

# Mostrar los nombres de la columna 'as' de esos registros
nombres_nulos = filtro['as']

# Mostrar los nombres
print(nombres_nulos)

304336    Charlotta Säfvenberg
Name: as, dtype: object

In [38]:
# Total histórico de atletas con medallas
filtro = df2[df2['medal'].isin(['Gold', 'Silver', 'Bronze'])]
print(len(filtro))

43630

In [39]:
# Cambio de del tipo de dato de la columna year de float a int.
df2['year'] = df2['year'].astype(int)
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
Index: 304314 entries, 0 to 304336
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   year        304314 non-null  int64
 1   type        304314 non-null  category
 2   discipline  304313 non-null  category
 3   event       304314 non-null  object
 4   as          304314 non-null  object
 5   athlete_id  304314 non-null  int64
 6   noc         304313 non-null  category
 7   place       280355 non-null  float64
 8   tied        304314 non-null  bool
 9   medal       43630 non-null   category
dtypes: bool(1), category(4), float64(1), int64(2), object(2)
memory usage: 15.7+ MB
None

In [40]:
# Se intentó rellenar los null del resgistro pero no se consiguió guardar los cambios en el CSV
'''
df2.loc[304337, 'discipline'] =  'Alpine Skiing (Skiing)'
df2.loc[304337, 'noc'] = 'SWE'
print('-' * 80)
# Guardar el DataFrame modificado de vuelta en el CSV
df2.to_csv('olympic_games_results.csv', index=False)
# Mostrar solo el registro con el índice 304337
registro = df2.loc[304337]

# Imprimir el registro completo
print(registro)
'''

"\ndf2.loc[304337, 'discipline'] =  'Alpine Skiing (Skiing)'\ndf2.loc[304337, 'noc'] = 'SWE'\nprint('-' * 80)\n# Guardar el DataFrame modificado de vuelta en el CSV\ndf2.to_csv('olympic_games_results.csv', index=False)\n# Mostrar solo el registro con el índice 304337\nregistro = df2.loc[304337]\n\n# Imprimir el registro completo\nprint(registro)\n"

In [41]:
'''
# Eliminar la fila con índice específico y modificar el DataFrame original directamente
df2.drop(304337, inplace=True)

# Verificar que la fila fue eliminada
print(df2)
'''
# Se eliminó la columna, da error al ejecutarlo otra vez y por eso está como comentario

'\n# Eliminar la fila con índice específico y modificar el DataFrame original directamente\ndf2.drop(304337, inplace=True)\n\n# Verificar que la fila fue eliminada\nprint(df2)\n'

In [42]:
#df2.to_csv('olympic_cleaned_lunes.csv', index=False, encoding='utf-8')

In [43]:
#df1.to_csv('athlete_cleaned_lunes.csv', index=False, encoding='utf-8')

In [44]:
#Unificación de datasets
# Seleccionar las columnas que deseas de cada DataFrame
df1_subset = df1[['athlete_id', 'name', 'height_cm', 'weight_kg' ]]
df2_subset = df2[['athlete_id','year','discipline','event','noc','place','medal']]

# Realizar el merge usando las columnas seleccionadas
df_unificado = pd.merge(df1_subset, df2_subset, on='athlete_id', how='inner')

# Mostrar el resultado
print(df_unificado)

        athlete_id                   name  height_cm  weight_kg  year  \
0                1  Jean-François Blanchy        NaN        NaN  1912
1                1  Jean-François Blanchy        NaN        NaN  1912
2                1  Jean-François Blanchy        NaN        NaN  1920
3                1  Jean-François Blanchy        NaN        NaN  1920
4                1  Jean-François Blanchy        NaN        NaN  1920
...            ...                    ...        ...        ...   ...
304309      148983          Marián Skupek      196.0      108.0  2022
304310      148984          Elsa Fermbäck        NaN        NaN  2022
304311      148985          Hilma Lövblom        NaN        NaN  2022
304312      148985          Hilma Lövblom        NaN        NaN  2022
304313      148986   Charlotta Säfvenberg        NaN        NaN  2022

                    discipline                          event  noc  place  \
0                       Tennis         Singles, Men (Olympic)  FRA   17.0
1                       Tennis         Doubles, Men (Olympic)  FRA    NaN
2                       Tennis         Singles, Men (Olympic)  FRA   32.0
3                       Tennis       Doubles, Mixed (Olympic)  FRA    8.0
4                       Tennis         Doubles, Men (Olympic)  FRA    4.0
...                        ...                            ...  ...    ...
304309                    Luge         Singles, Men (Olympic)  SVK   26.0
304310  Alpine Skiing (Skiing)        Slalom, Women (Olympic)  SWE   28.0
304311  Alpine Skiing (Skiing)          Team, Mixed (Olympic)  SWE   13.0
304312  Alpine Skiing (Skiing)  Giant Slalom, Women (Olympic)  SWE    NaN
304313                     NaN        Slalom, Women (Olympic)  NaN   24.0

       medal
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
304309   NaN
304310   NaN
304311   NaN
304312   NaN
304313   NaN

[304314 rows x 10 columns]

In [45]:
#Creacion de un dataset unificado con culumnas de df1 y df2.
#df_unificado.to_csv('ds_unificado.csv', index=False, encoding='utf-8')

In [46]:
data3=pd.read_csv('ds_unificado.csv')
df3=pd.DataFrame(data3)

In [47]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304314 entries, 0 to 304313
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   athlete_id  304314 non-null  int64
 1   name        304314 non-null  object
 2   height_cm   235783 non-null  float64
 3   weight_kg   226354 non-null  float64
 4   year        304314 non-null  int64
 5   discipline  304313 non-null  object
 6   event       304314 non-null  object
 7   noc         304313 non-null  object
 8   place       280355 non-null  float64
 9   medal       43630 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 23.2+ MB

In [48]:
#Eliminacion de un registro 'extraviado' con valores nulos 

# Definir las condiciones de valores nulos en las columnas 'name' y 'sport'
condicion = df3['discipline'].isnull() & df3['noc'].isnull()

# Eliminar las filas que cumplen con ambas condiciones (valores nulos en 'name' y 'sport')
df_limpio = df3[~condicion]

# Mostrar el DataFrame después de eliminar las filas
print("\nDataFrame después de eliminar los registros con valores nulos en 'name' y 'sport':")
print(df_limpio.info())

DataFrame después de eliminar los registros con valores nulos en 'name' y 'sport':
<class 'pandas.core.frame.DataFrame'>
Index: 304313 entries, 0 to 304312
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   athlete_id  304313 non-null  int64
 1   name        304313 non-null  object
 2   height_cm   235783 non-null  float64
 3   weight_kg   226354 non-null  float64
 4   year        304313 non-null  int64
 5   discipline  304313 non-null  object
 6   event       304313 non-null  object
 7   noc         304313 non-null  object
 8   place       280354 non-null  float64
 9   medal       43630 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 25.5+ MB
None

In [49]:
# Iteracion 1 ----- Participacion historica por paises

# Agrupar por la columna 'noc' y contar los valores únicos de 'athlete_id'
df_grouped = df3.groupby('noc')['athlete_id'].nunique().reset_index()

# Renombrar la columna para mayor claridad
df_grouped.rename(columns={'athlete_id': 'unique_athletes'}, inplace=True)

# Ordenar los resultados por la cantidad de atletas (de mayor a menor)
df_grouped_sorted = df_grouped.sort_values(by='unique_athletes', ascending=False)

# Mostrar el resultado
print("\nNúmero de atletas distintos por país:")
print(df_grouped_sorted)
print('-' * 80)
print(df_grouped_sorted.head(10))
print('-' * 80)
print(df_grouped_sorted.tail(10))

Número de atletas distintos por país:
     noc  unique_athletes
215  USA            10039
75   GBR             6436
70   FRA             6350
36   CAN             5303
101  ITA             5144
..   ...              ...
223  YAR               10
208  TUV                8
187  SSD                5
225  YMD                5
144  NBO                2

[229 rows x 2 columns]
--------------------------------------------------------------------------------
     noc  unique_athletes
215  USA            10039
75   GBR             6436
70   FRA             6350
36   CAN             5303
101  ITA             5144
80   GER             5142
105  JPN             4614
12   AUS             4165
193  SWE             3915
190  SUI             3131
--------------------------------------------------------------------------------
     noc  unique_athletes
167  RHO               12
151  NRU               12
31   BRU               11
109  KIR               11
202  TLS               11
223  YAR               10
208  TUV                8
187  SSD                5
225  YMD                5
144  NBO                2

In [50]:
# Filtrar los registros con medalla de 'Gold'
df_gold = df3[df3['medal'] == 'Gold']

# Filtrar los registros con medalla de 'Silver'
df_silver = df3[df3['medal'] == 'Silver']

# Filtrar los registros con medalla de 'Bronze'
df_bronze = df3[df3['medal'] == 'Bronze']
print('-' * 80)
# Mostrar los DataFrames separados por tipo de medalla
print("\nDataFrame con medalla Gold:")
print(df_gold)
print(len(df_gold))
print('-' * 80)
print("\nDataFrame con medalla Silver:")
print(df_silver)
print(len(df_silver))
print('-' * 80)
print("\nDataFrame con medalla Bronze:")
print(df_bronze)
print(len(df_bronze))

--------------------------------------------------------------------------------

DataFrame con medalla Gold:
        athlete_id                 name  height_cm  weight_kg  year  \
39              12          Max Decugis        NaN        NaN  1920
66              19       Maurice Germot        NaN        NaN  1912
67              20         André Gobert        NaN        NaN  1912
68              20         André Gobert        NaN        NaN  1912
120             45     Charlotte Cooper        NaN        NaN  1900
...            ...                  ...        ...        ...   ...
304045      148811  Aleksandr Gallyamov        NaN        NaN  2022
304047      148812      Mark Kondratyuk        NaN        NaN  2022
304196      148903       Marco Odermatt        NaN        NaN  2022
304232      148920           Anja Weber        NaN        NaN  2018
304246      148931           Ryan Regez        NaN        NaN  2022

                       discipline                                   event  \
39                         Tennis                Doubles, Mixed (Olympic)
66                         Tennis  Doubles, Covered Courts, Men (Olympic)
67                         Tennis  Singles, Covered Courts, Men (Olympic)
68                         Tennis  Doubles, Covered Courts, Men (Olympic)
120                        Tennis                Singles, Women (Olympic)
...                           ...                                     ...
304045   Figure Skating (Skating)                   Team, Mixed (Olympic)
304047   Figure Skating (Skating)                   Team, Mixed (Olympic)
304196     Alpine Skiing (Skiing)             Giant Slalom, Men (Olympic)
304232                  Triathlon                Relay, Mixed Youth (YOG)
304246  Freestyle Skiing (Skiing)                Ski Cross, Men (Olympic)

        noc  place medal
39      FRA    1.0  Gold
66      FRA    1.0  Gold
67      FRA    1.0  Gold
68      FRA    1.0  Gold
120     GBR    1.0  Gold
...     ...    ...   ...
304045  ROC    1.0  Gold
304047  ROC    1.0  Gold
304196  SUI    1.0  Gold
304232  SUI    1.0  Gold
304246  SUI    1.0  Gold

[14609 rows x 10 columns]
14609
--------------------------------------------------------------------------------

DataFrame con medalla Silver:
        athlete_id                  name  height_cm  weight_kg  year  \
12               4       Jacques Brugnon      168.0       64.0  1924
24               8          Henri Cochet        NaN        NaN  1924
26               8          Henri Cochet        NaN        NaN  1924
33              12           Max Decugis        NaN        NaN  1900
57              18  Jean-Philippe Gatien      178.0       73.0  1992
...            ...                   ...        ...        ...   ...
304093      148854         Irma Makhinya        NaN        NaN  2022
304109      148862      Daniil Aldoshkin        NaN        NaN  2022
304124      148871    Konstantin Ivliyev        NaN        NaN  2022
304179      148892             Lovro Kos        NaN        NaN  2022
304181      148893            Cene Prevc        NaN        NaN  2022

                                 discipline  \
12                                   Tennis
24                                   Tennis
26                                   Tennis
33                                   Tennis
57                             Table Tennis
...                                     ...
304093                 Ski Jumping (Skiing)
304109              Speed Skating (Skating)
304124  Short Track Speed Skating (Skating)
304179                 Ski Jumping (Skiing)
304181                 Ski Jumping (Skiing)

                                       event  noc  place   medal
12                    Doubles, Men (Olympic)  FRA    2.0  Silver
24                    Singles, Men (Olympic)  FRA    2.0  Silver
26                    Doubles, Men (Olympic)  FRA    2.0  Silver
33                    Doubles, Men (Olympic)  FRA    2.0  Silver
57                    Singles, Men (Olympic)  FRA    2.0  Silver
...                                      ...  ...    ...     ...
304093    Normal Hill, Team, Mixed (Olympic)  ROC    2.0  Silver
304109  Team Pursuit (8 laps), Men (Olympic)  ROC    2.0  Silver
304124             500 metres, Men (Olympic)  ROC    2.0  Silver
304179       Large Hill, Team, Men (Olympic)  SLO    2.0  Silver
304181       Large Hill, Team, Men (Olympic)  SLO    2.0  Silver

[14370 rows x 10 columns]
14370
--------------------------------------------------------------------------------

DataFrame con medalla Bronze:
        athlete_id                name  height_cm  weight_kg  year  \
9                3        Jean Borotra      183.0       76.0  1924
14               5        Albert Canet        NaN        NaN  1912
15               5        Albert Canet        NaN        NaN  1912
21               7       Patrick Chila      180.0       73.0  2000
28              10  Guy de la Chapelle        NaN        NaN  1900
...            ...                 ...        ...        ...   ...
304304      148978         Miloš Roman      183.0       87.0  2022
304305      148979    Juraj Slafkovský      192.0      102.0  2022
304306      148980        Samuel Takáč      184.0       92.0  2022
304307      148981         Matej Tomek      191.0       82.0  2022
304308      148982         Peter Zuzin      183.0       81.0  2022

                     discipline                      event  noc  place   medal
9                        Tennis     Doubles, Men (Olympic)  FRA    3.0  Bronze
14                       Tennis   Doubles, Mixed (Olympic)  FRA    3.0  Bronze
15                       Tennis     Doubles, Men (Olympic)  FRA    3.0  Bronze
21                 Table Tennis     Doubles, Men (Olympic)  FRA    3.0  Bronze
28                       Tennis     Doubles, Men (Olympic)  FRA    3.0  Bronze
...                         ...                        ...  ...    ...     ...
304304  Ice Hockey (Ice Hockey)  Ice Hockey, Men (Olympic)  SVK    3.0  Bronze
304305  Ice Hockey (Ice Hockey)  Ice Hockey, Men (Olympic)  SVK    3.0  Bronze
304306  Ice Hockey (Ice Hockey)  Ice Hockey, Men (Olympic)  SVK    3.0  Bronze
304307  Ice Hockey (Ice Hockey)  Ice Hockey, Men (Olympic)  SVK    3.0  Bronze
304308  Ice Hockey (Ice Hockey)  Ice Hockey, Men (Olympic)  SVK    3.0  Bronze

[14651 rows x 10 columns]
14651

In [51]:

# Suponiendo que df3 es el DataFrame original con las columnas 'athlete_id', 'noc', 'medal', etc.

# Filtrar los registros con medalla de 'Gold'
df_gold = df3[df3['medal'] == 'Gold']
df_gold_grouped = df_gold.groupby('noc')['athlete_id'].nunique().reset_index()
df_gold_grouped.rename(columns={'athlete_id': 'gold_medals'}, inplace=True)

# Filtrar los registros con medalla de 'Silver'
df_silver = df3[df3['medal'] == 'Silver']
df_silver_grouped = df_silver.groupby('noc')['athlete_id'].nunique().reset_index()
df_silver_grouped.rename(columns={'athlete_id': 'silver_medals'}, inplace=True)

# Filtrar los registros con medalla de 'Bronze'
df_bronze = df3[df3['medal'] == 'Bronze']
df_bronze_grouped = df_bronze.groupby('noc')['athlete_id'].nunique().reset_index()
df_bronze_grouped.rename(columns={'athlete_id': 'bronze_medals'}, inplace=True)

# Unir los tres DataFrames (Gold, Silver, Bronze) por la columna 'noc' (país)
df_medals = pd.merge(df_gold_grouped, df_silver_grouped, on='noc', how='outer')
df_medals = pd.merge(df_medals, df_bronze_grouped, on='noc', how='outer')

# Añadir una columna con el total de medallas por país
df_medals['total_medals'] = df_medals['gold_medals'].fillna(0) + df_medals['silver_medals'].fillna(0) + df_medals['bronze_medals'].fillna(0)

df_medals_sorted = df_medals.sort_values(by='total_medals', ascending=False)

# Mostrar los DataFrames agrupados por tipo de medalla y país
print('-' * 80)
print("\nDataFrame con medallas por país:")
print(df_medals_sorted)
print('-' * 80)

--------------------------------------------------------------------------------

DataFrame con medallas por país:
     noc  gold_medals  silver_medals  bronze_medals  total_medals
148  USA       1976.0         1571.0         1330.0        4877.0
146  URS        815.0          605.0          606.0        2026.0
53   GER        602.0          642.0          711.0        1955.0
50   GBR        575.0          672.0          647.0        1894.0
47   FRA        472.0          585.0          640.0        1697.0
..   ...          ...            ...            ...           ...
94   MON          NaN            NaN            1.0           1.0
117  SAM          NaN            1.0            NaN           1.0
137  TOG          NaN            NaN            1.0           1.0
125  SUD          NaN            1.0            NaN           1.0
133  TGA          NaN            1.0            NaN           1.0

[156 rows x 5 columns]
--------------------------------------------------------------------------------

In [57]:
# Filtrar los registros con medalla de 'Gold'
df_gold = df3[df3['medal'] == 'Gold']
df_gold_grouped = df_gold.groupby('noc')['athlete_id'].nunique().reset_index()
df_gold_grouped.rename(columns={'athlete_id': 'gold_medals'}, inplace=True)

# Filtrar los registros con medalla de 'Silver'
df_silver = df3[df3['medal'] == 'Silver']
df_silver_grouped = df_silver.groupby('noc')['athlete_id'].nunique().reset_index()
df_silver_grouped.rename(columns={'athlete_id': 'silver_medals'}, inplace=True)

# Filtrar los registros con medalla de 'Bronze'
df_bronze = df3[df3['medal'] == 'Bronze']
df_bronze_grouped = df_bronze.groupby('noc')['athlete_id'].nunique().reset_index()
df_bronze_grouped.rename(columns={'athlete_id': 'bronze_medals'}, inplace=True)

# Unir los tres DataFrames (Gold, Silver, Bronze) por la columna 'noc' (país)
#df_medals = pd.merge(df_gold_grouped, df_silver_grouped, on='noc', how='outer')
#df_medals = pd.merge(df_medals, df_bronze_grouped, on='noc', how='outer')

# Añadir una columna con el total de medallas por país
df_medals['total_medals'] = df_medals['gold_medals'].fillna(0) + df_medals['silver_medals'].fillna(0) + df_medals['bronze_medals'].fillna(0)

# Ordenar por medallas de oro, luego de plata, y luego de bronce
df_medals_sorted = df_medals.sort_values(by=['gold_medals', 'silver_medals', 'bronze_medals'], ascending=False)
'''
df_medals_gold = df_medals.sort_values(by=['gold_medals'], ascending=False)
df_medals_silver = df_medals.sort_values(by=['silver_medals'], ascending=False)
df_medals_bronze = df_medals.sort_values(by=['bronze_medals'], ascending=False)
# Mostrar el DataFrame con los resultados ordenados
print('-' * 80)
print("\nDataFrame con medallas por país, ordenado por oro, plata y bronce:")
print(df_medals_sorted)
print('-' * 80)

print(df_medals_gold.head(10))
print('-' * 80)
print(df_medals_silver.head(10))
print('-' * 80)
print(df_medals_bronze.head(10))
''' 

# Mostrar solo los primeros 10 países con el total de medallas
print('-' * 80)
print("\nDataFrame con medallas por país (Top 10, ordenado por oro, plata y bronce):")
for index, row in df_medals_sorted.head(10).iterrows():  # Aquí se usan los primeros 10 países
    print(f"{row['noc']} {row['gold_medals']:.1f} {row['silver_medals']:.1f} {row['bronze_medals']:.1f} Total {row['total_medals']:.1f}")
print('-' * 80)

# Ordenar el DataFrame por medallas de oro y mostrar el Top 10
df_gold_grouped_sorted = df_gold_grouped.sort_values(by='gold_medals', ascending=False)
print("\nTop 10 países con medallas de oro:")
for index, row in df_gold_grouped_sorted.head(10).iterrows():
    if row['gold_medals'] > 0:
        print(f"GOLD : {row['noc']} {row['gold_medals']}")

# Ordenar el DataFrame por medallas de plata y mostrar el Top 10
df_silver_grouped_sorted = df_silver_grouped.sort_values(by='silver_medals', ascending=False)
print("\nTop 10 países con medallas de plata:")
for index, row in df_silver_grouped_sorted.head(10).iterrows():
    if row['silver_medals'] > 0:
        print(f"SILVER : {row['noc']} {row['silver_medals']}")

# Ordenar el DataFrame por medallas de bronce y mostrar el Top 10
df_bronze_grouped_sorted = df_bronze_grouped.sort_values(by='bronze_medals', ascending=False)
print("\nTop 10 países con medallas de bronce:")
for index, row in df_bronze_grouped_sorted.head(10).iterrows():
    if row['bronze_medals'] > 0:
        print(f"BRONZE : {row['noc']} {row['bronze_medals']}")

--------------------------------------------------------------------------------

DataFrame con medallas por país (Top 10, ordenado por oro, plata y bronce):
USA 1976.0 1571.0 1330.0 Total 4877.0
URS 815.0 605.0 606.0 Total 2026.0
GER 602.0 642.0 711.0 Total 1955.0
GBR 575.0 672.0 647.0 Total 1894.0
FRA 472.0 585.0 640.0 Total 1697.0
ITA 465.0 468.0 487.0 Total 1420.0
CAN 461.0 457.0 507.0 Total 1425.0
SWE 426.0 491.0 466.0 Total 1383.0
RUS 339.0 342.0 380.0 Total 1061.0
CHN 318.0 361.0 321.0 Total 1000.0
--------------------------------------------------------------------------------

Top 10 países con medallas de oro:
GOLD : USA 1976
GOLD : URS 815
GOLD : GER 602
GOLD : GBR 575
GOLD : FRA 472
GOLD : ITA 465
GOLD : CAN 461
GOLD : SWE 426
GOLD : RUS 339
GOLD : CHN 318

Top 10 países con medallas de plata:
SILVER : USA 1571
SILVER : GBR 672
SILVER : GER 642
SILVER : URS 605
SILVER : FRA 585
SILVER : SWE 491
SILVER : ITA 468
SILVER : CAN 457
SILVER : AUS 401
SILVER : CHN 361

Top 10 países con medallas de bronce:
BRONZE : USA 1330
BRONZE : GER 711
BRONZE : GBR 647
BRONZE : FRA 640
BRONZE : URS 606
BRONZE : CAN 507
BRONZE : ITA 487
BRONZE : AUS 484
BRONZE : SWE 466
BRONZE : NED 381

In [53]:
# Seleccionar las columnas que deseas de cada DataFrame
df1_subset = df1[['athlete_id', 'name', 'height_cm', 'weight_kg']]
df2_subset = df2[['athlete_id', 'year', 'discipline' , 'event' , 'noc', 'place' ,  'medal']]

# Realizar el merge usando las columnas seleccionadas
df_unificado = pd.merge(df1_subset, df2_subset, on='athlete_id', how='inner')

# Mostrar el resultado
print(df_unificado)

        athlete_id                   name  height_cm  weight_kg  year  \
0                1  Jean-François Blanchy        NaN        NaN  1912
1                1  Jean-François Blanchy        NaN        NaN  1912
2                1  Jean-François Blanchy        NaN        NaN  1920
3                1  Jean-François Blanchy        NaN        NaN  1920
4                1  Jean-François Blanchy        NaN        NaN  1920
...            ...                    ...        ...        ...   ...
304309      148983          Marián Skupek      196.0      108.0  2022
304310      148984          Elsa Fermbäck        NaN        NaN  2022
304311      148985          Hilma Lövblom        NaN        NaN  2022
304312      148985          Hilma Lövblom        NaN        NaN  2022
304313      148986   Charlotta Säfvenberg        NaN        NaN  2022

                    discipline                          event  noc  place  \
0                       Tennis         Singles, Men (Olympic)  FRA   17.0
1                       Tennis         Doubles, Men (Olympic)  FRA    NaN
2                       Tennis         Singles, Men (Olympic)  FRA   32.0
3                       Tennis       Doubles, Mixed (Olympic)  FRA    8.0
4                       Tennis         Doubles, Men (Olympic)  FRA    4.0
...                        ...                            ...  ...    ...
304309                    Luge         Singles, Men (Olympic)  SVK   26.0
304310  Alpine Skiing (Skiing)        Slalom, Women (Olympic)  SWE   28.0
304311  Alpine Skiing (Skiing)          Team, Mixed (Olympic)  SWE   13.0
304312  Alpine Skiing (Skiing)  Giant Slalom, Women (Olympic)  SWE    NaN
304313                     NaN        Slalom, Women (Olympic)  NaN   24.0

       medal
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
304309   NaN
304310   NaN
304311   NaN
304312   NaN
304313   NaN

[304314 rows x 10 columns]

In [75]:
'''
athletes_df = df3
#Paso 1: Cálculo del BMI
athletes_df['BMI'] = athletes_df['weight_kg'] / (athletes_df['height_cm'] / 100) ** 2  # Asegura que 'altura' esté en metros

#Paso 2: Calcular la media de BMI por disciplina
bmi_mean_per_discipline = athletes_df.groupby('discipline')['BMI'].mean().sort_values(ascending=False)

#Paso 3: Mostrar el resultado
print(bmi_mean_per_discipline.head(10))
'''

discipline
Art Competitions                29.237879
Weightlifting                   27.463702
Bobsleigh (Bobsleigh)           27.061098
Rugby (Rugby)                   26.101349
Tug-Of-War                      26.076394
Baseball (Baseball/Softball)    25.685207
Judo                            25.430772
Rugby Sevens (Rugby)            25.341001
Ice Hockey (Ice Hockey)         25.066652
Wrestling                       25.027871
Name: BMI, dtype: float64

In [78]:
# Paso 1: Filtrar atletas con medalla y hacer una copia para evitar la advertencia
medalists_df = df3.dropna(subset=['medal']).copy()

# Paso 2: Calcular el BMI para los atletas con medalla
medalists_df['BMI'] = medalists_df['weight_kg'] / (medalists_df['height_cm'] / 100) ** 2

# Paso 3: Calcular la media de BMI por disciplina
bmi_mean_per_discipline_medalists = medalists_df.groupby('discipline')['BMI'].mean().sort_values(ascending=False)

# Paso 4: Mostrar el resultado
print(bmi_mean_per_discipline_medalists.head(10))

discipline
Weightlifting                   27.940897
Bobsleigh (Bobsleigh)           27.122071
Rugby (Rugby)                   26.101349
Tug-Of-War                      25.951557
Judo                            25.859891
Baseball (Baseball/Softball)    25.729378
Rugby Sevens (Rugby)            25.567633
Wrestling                       25.299880
Ice Hockey (Ice Hockey)         25.120308
3x3 Basketball (Basketball)     25.013190
Name: BMI, dtype: float64

In [79]:
# Filtrar atletas con medallas
medalists_data = df3.dropna(subset=['medal'])

# Calcular la media de BMI para cada tipo de medalla por disciplina
bmi_by_medal_and_discipline = medalists_data.groupby(['discipline', 'medal'])['BMI'].mean().unstack()

# Filtrar únicamente las disciplinas y tipos de medalla con BMI no nulo
bmi_non_null = bmi_by_medal_and_discipline.dropna(how='all')

print(bmi_non_null)

medal                                Bronze       Gold     Silver
discipline
3-on-3 Ice Hockey (Ice Hockey)    21.677853  22.045987  23.453232
3x3 Basketball (Basketball)             NaN  25.013190        NaN
Alpine Skiing (Skiing)            24.142684  24.014079  23.930901
Archery                           23.847159  23.513580  23.458225
Artistic Gymnastics (Gymnastics)  21.014410  20.928173  20.952068
...                                     ...        ...        ...
Tug-Of-War                        25.951557        NaN  25.951557
Volleyball (Volleyball)           22.546159  22.876072  22.625210
Water Polo (Aquatics)             24.682709  24.715961  24.622274
Weightlifting                     27.821667  27.920579  28.078086
Wrestling                         25.453919  25.249822  25.169807

[71 rows x 3 columns]